* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;
}

header {
    width: 80vw;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    align-items: center;
    z-index: 2;

    & img {
        width: 250px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }
}

section {
    background-image: radial-gradient(#6d248f, #5300a7);
    height: 100vh;
}

section .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
}

section .list .item {
    position: absolute;
    inset: 0;
}

.car-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

.car-img > img {
    width: 100%;
    transform: rotate(-30deg);
}

.arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}

.content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

.car-information {
    font-weight: bolder;
}

.arrows > button {
    top: 60%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.arrows > button >img {
    width: 30px;
}

.indicators {
    position: absolute;
    top: 50%;
    height: 200px;
    width: 90vw;
    left: 50px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

.indicators > .number {
    font-size: 5em;
}

.indicators ul {
    display: flex;
    gap: 10px;
}

.indicators ul li {
    width: 50px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 5px;
}

.indicators ul .active {
    background-color: #bbff00;
}