@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-paixao: "Passion One", sans-serif;
    --fonte-sriracha: "Sriracha", cursive;
}

html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-paixao);
    font-size: 3.5em;
}

header p {
    padding-bottom: 50px;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-sriracha);
    font-size: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #272727;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #000000c4;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.459);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
background-image: url(../imagens/background002.jpg);
background-position: right center;
background-size: cover;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}