body {
    background-image: linear-gradient(to bottom, #4e30fa, #040127);
    color: #ffffffff;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    margin: auto;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkgray;
    transition: 0.2s;
}

div.center {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid greenyellow;
}

fieldset {
    box-shadow: 2px 2px 10px black;
}